 /* Définition de constantes */
 :root {
     --gap: 10px;
     --border-radius: 10px;
     --scroolbar-with: 10px;
 }

 /* Remettre à zéro les marges de tous éléments pour contrecarrer les valeurs par défaut prédéfinies du fureteur */
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 /* Classe pour la mise en page utilisant les "flexbox" */
 .page {
     /* disposition verticale des sections header, main et footer */
     display: flex;
     flex-direction: column;
     min-height: 118vh;
     max-width: 1000px;
     min-width: 500px;
     margin: auto;
     /* 100% de la hauteur du viewport pour assurer la réactivité verticale */
     gap: var(--gap);
     padding: var(--gap);

     .favicon {
         height: 32px;
         width: 32px;
     }

     .header,
     .footer {
         font-size: 1.5em;
         font-weight: bolder;
         display: flex;
         gap: 8px;
         align-items: center;

         .menu {
             /* disposition horizontale des items de menu */
             display: flex;
             gap: 12px;
             flex-wrap: wrap;
             justify-content: left;
         }

         .menuItem {
             flex-grow: 1;
             /* taille adaptative */
             font-size: 0.75em;
             font-weight: bold;
             text-decoration: none;
             color: violet;
             border: none
         }

         .selectedMenuItem {
             color: darkviolet;
         }
     }

     .main {

         flex: 1;
         /* permettre de le formatage flex du parent */
         min-height: 100vh;
         /* hauteur minimum relative à la hauteur du viewport*/

         /* contrecarrer les styles de la classe page */
         border: none;
         padding: 0px;
         background: white;
         border: 1px solid gray;
         /* Alignement horizontal des éléments enfants */
         display: flex;
         flex-direction: row;
         gap: var(--gap);

         .scrollSection {
             overflow-y: auto;
         }

         .content {
             flex-grow: 1;

             .bigImage {
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 aspect-ratio: 16/9;
             }
         }

         .justifiedText {
             text-align: justify;
             margin-top: var(--gap);
         }

         .left_Aside {
             flex: 1;
             min-width: 100px;
             max-width: 120px;
         }

         .right_Aside {
             flex: 1;
             min-width: 70px;
             max-width: 120px;
         }

     }

     .main>* {
         background: white;
         padding: var(--gap);
     }
 }

 .page>* {
     /* cibler tout les enfants enfant de l'éléments de classe page */
     background: lightgray;
     padding: var(--gap);
     border: 1px solid gray;
 }

 /* disposer une liste d'icone font-awsome vertivalement */
 .iconList {
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: var(--gap);
 }

 /* style pour formater les icones de classe font-awsome */
 .fa-icon {
     flex: 1;
     font-size: 2em;
     color: dodgerblue;
     cursor: pointer;
 }

 /* Changer la couleur de l'élément survolé de classe fa-icon */
 .fa-icon:hover {
     color: blue;
 }

 /*** classes pour l'apparence de la barre de défilement ***/
 ::-webkit-scrollbar {
     border-radius: var(--border-radius);
     width: var(--scroolbar-with);
 }

 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: var(--border-radius);
 }

 ::-webkit-scrollbar-thumb {
     border-radius: var(--border-radius);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
 }

 .fjalla-one-regular {
     font-family: "Fjalla One", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .author {
     margin-top: 35px;
     font-size: 2.0em;
     text-align: center;

     ul {
         list-style-type: none;
     }
 }

 .descriptionText {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .descriptionList {
     margin-left: 15px;
 }

 .descriptionList>* {
     margin-top: 15px;
 }

 .imagePageAI {
     max-width: 175px;
     max-height: 175px;
     margin-top: 35px;
     margin-bottom: 35px;
     margin-right: 69px;
     margin-left: 69px;
 }

 .imagePageSecurite1 {
     margin-top: 35px;
     margin-bottom: 35px;
     margin-left: 30px;
     margin-right: 30px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     aspect-ratio: 17/10;
 }

 .imagePageSecurite2 {
     margin-top: 35px;
     margin-bottom: 35px;
     margin-left: 150px;
     margin-right: 150px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     aspect-ratio: 8.9/12;
 }

 .centerTextPageSecurity {
     text-align: center;
     margin-top: 15px;
 }

 .boldText {
     font-weight: bold;
 }

 .videoYoutube {
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 15px;
     margin-bottom: 15px;
     aspect-ratio: 16/9;
 }

 .imagePageData {
     margin-top: 15px;
     margin-left: 50px;
     margin-right: 50px;
 }

 .avatar {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     aspect-ratio: 1/1;
     border-radius: 100%;
     margin-left: 300px;
     margin-right: 300px;
     margin-top: 35px;
 }

 .indexText {
     font-size: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .centerText {
     text-align: center;
 }

 .spacingText {
     margin-left: 50px;
     margin-right: 50px;
 }

 @media (max-width: 500px) {
     .imagePageAI {
         width: 50px;
         height: 50px;
         margin-left: 50px;
         margin-right: 40px;
         margin-top: 35px;
         margin-bottom: 35px;
     }

     .avatar {
         width: 150px;
         height: 150px;
         margin-left: auto;
         margin-right: auto
     }

     .author {
         font-size: 1.5em;
     }

     .imagePageSecurite1 {
         margin-left: 0px;
         margin-right: 0px;
         width: 335px;
         height: 195px;
     }

     .imagePageSecurite2 {
         margin-left: 70px;
         width: 210px;
         height: 285px;
     }
 }